.navbar {
    background: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}